*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.hidden{
  display: none;
}

.navBar{
  background-color: blue;
  
}


.navMenu{
  display: flex;
}

.navList{
  flex: 1;
  list-style-type: none;
}

